body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 60px; /* Ajustar según la altura del header */
    text-align: center;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espacio entre los cuadrados */
    padding: 20px;
    margin-top: 20px;
}

.product-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacio en blanco alrededor de cada cuadrado */
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100px;
    max-height: 150px;
    margin-right: 20px;
    object-fit: contain;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.product-info p {
    margin: 5px 0;
}